* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: url(svg/medimg.jpg) no-repeat center center/cover;
}

.start .start-logo {
  height: 100%;
  padding-top: 20px;
}

.start .start-choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 90%;
  padding-bottom: 120px;
  color: white;
  text-decoration: none;
}

.start .start-choices .start-meditation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  min-width: 200px;
  height: 400px;
  border: solid white 5px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.start .start-choices .start-meditation .start-meditation-img {
  width: 170px;
  margin: 0 auto;
  padding: 12px;
}

.start .start-choices .start-meditation:hover {
  border: solid #ED3A54 5px;
  color: #ED3A54;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.start .start-choices .start-breathing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  min-width: 200px;
  height: 400px;
  border: solid white 5px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
  text-align: center;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.start .start-choices .start-breathing .start-breathing-img {
  font-size: 130px;
  padding-top: 10px;
  padding: 10px;
}

.start .start-choices .start-breathing:hover {
  border: solid #ED3A54 5px;
  color: #ED3A54;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.start .start-choices .start-breathing-img:not(:hover) {
  color: white;
}

.start .start-choices .start-breathing-img:hover {
  color: white;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 99vh;
  width: 99vw;
  padding-top: 80px;
  min-width: 380px;
}

.time,
.main,
.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu .top-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  z-index: 15;
}

.menu .top-bar .logo {
  height: 60px;
}

.menu .top-bar .nav-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  width: 160px;
  height: 60px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border-radius: 20px;
}

.menu .top-bar .nav-choice:hover,
.menu .top-bar .nav-choice:focus {
  -webkit-box-shadow: inset 160px 0 0 0 #ED3A54;
          box-shadow: inset 160px 0 0 0 #ED3A54;
}

.menu .top-bar .active-btn {
  background-color: #ED3A54;
}

.menu .top-bar .meditation {
  padding: 0 7px;
  height: 23px;
}

.menu .top-bar .fa-lungs {
  padding: 0 7px;
}

.bg-video video {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}

.background {
  display: -ms-grid;
  display: grid;
  padding: 50px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background button {
  color: white;
  font-size: 4rem;
  background-color: transparent;
  border: none;
}

.background button .iconify {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
}

.background button .iconify:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .text {
  position: absolute;
  color: white;
  font-size: 1.6rem;
}

.main .text-bottom {
  position: absolute;
  color: white;
  font-size: 1.4rem;
  -webkit-transform: translateY(225px);
          transform: translateY(225px);
  text-align: center;
}

.main .play {
  width: 80px;
  position: absolute;
  top: 43%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.main .play-breath {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.main .pause {
  width: 80px;
  position: absolute;
  top: 43%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}

.main .hide {
  display: none;
}

.main .show {
  display: block;
}

.main .track-outline {
  width: 300px;
  position: absolute;
  top: 43%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .moving-outline {
  width: 300px;
  position: absolute;
  top: 43%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}

.main .timer {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 3.5rem;
}

.main .breath-cycle-expand {
  -webkit-animation-name: expand-calming;
          animation-name: expand-calming;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.main .breath-cycle-expand-calming {
  -webkit-animation-name: expand-calming;
          animation-name: expand-calming;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.main .breath-cycle-expand-wim {
  -webkit-animation-name: expand-wim;
          animation-name: expand-wim;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

.main .breath-cycle-expand-box {
  -webkit-animation-name: expand-box;
          animation-name: expand-box;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.main .breath-cycle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 400px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.main .breath-cycle-container .track-outline-breath {
  width: 300px;
}

@-webkit-keyframes expand-calming {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  60% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes expand-calming {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  60% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes expand-wim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes expand-wim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes expand-box {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes expand-box {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main .breath-cycle-container .pointer-container {
  display: none;
  position: absolute;
  top: 11px;
  left: 187px;
  width: 25px;
  height: 190px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.main .breath-cycle-container .pointer-container .pointer {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #ED3A54;
  border-radius: 50%;
}

.main .breath-cycle-container .pointer-rotate {
  -webkit-animation: rotate linear infinite;
          animation: rotate linear infinite;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  display: block;
}

.main .breath-cycle-container .pointer-rotate-calming {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.main .breath-cycle-container .pointer-rotate-wim {
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

.main .breath-cycle-container .pointer-rotate-box {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time .mins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 140px;
  height: 60px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: transparent;
}

.time .mins:hover {
  background-color: #ff7c90;
}

.time .active-breath {
  background-color: #ff7c90;
}

@media (max-width: 1400px) {
  .bg-video video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .bg-video video {
    left: -20%;
  }
}

@media (max-width: 850px) {
  .logo-index,
  .nav-choice,
  .mins,
  .iconify {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .app .time {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  .app .time-breathing {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  .app .main {
    -webkit-transform: translateY(-32%);
            transform: translateY(-32%);
  }
  .app .main .timer {
    -webkit-transform: scale(0.6) translateX(-75%) translateY(210%);
            transform: scale(0.6) translateX(-75%) translateY(210%);
  }
  .app .main-breathing {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .app .text-bottom {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
    font-size: 1rem;
  }
  .bg-video video {
    width: auto;
    height: 100%;
    left: -50%;
  }
  .background {
    padding: 0px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .start .start-logo {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .start .start-choices .start-meditation,
  .start .start-choices .start-breathing {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .start .start-choices .start-breathing:hover,
  .start .start-choices .start-meditation:hover {
    -webkit-transform: scale(0.73);
            transform: scale(0.73);
  }
}

@media (max-width: 450px) {
  .logo-index,
  .nav-choice,
  .mins,
  .iconify {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .app .time-breathing {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  .start .start-logo {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .start .start-choices .start-meditation,
  .start .start-choices .start-breathing {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .start .start-choices .start-breathing:hover,
  .start .start-choices .start-meditation:hover {
    -webkit-transform: scale(0.63);
            transform: scale(0.63);
  }
}

@media (max-width: 400px) {
  .app .time-breathing {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
}
/*# sourceMappingURL=style.css.map */